@import "../common/variables";

.add_lesson {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__title {
    font-size: 1.4em;
    margin-bottom: 1rem;

  }

  &__form {
    @include clearfix;
    padding: 1rem;
    border: 2px solid $gray;
    position: relative;
    padding-bottom: 4rem;
  }

  &__block {
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.1em;
    margin-bottom: .5rem;
  }

  &__input,
  &__textarea,
  &__select {
    width: 23.539rem;
  }

  &__fileinput {
    display: inline-block;
    margin-right: 3.5rem;
    input {
      display: none;
    }

    @extend .button;

    & ~ .button {
      margin-left: 3.5rem;
    }
  }

  &__send {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  @include breakpoint(1200px) {
    .add_lesson__block {
      float: left;
      width: 50%;
    }
    .add_lesson__text {
      float: right;
      width: 50%;
    }
  }
}