@import "../common/variables";

.courses {

  &__title {
    font-size: 1.4em;
    margin-bottom: 1rem;
  }

  &__item {
    margin-bottom: 1rem;
  }
}

.course {
  @include clearfix;

  padding: 1rem;
  border: 2px solid $lightgray;

  &__data {
    float: left;
    width: 50%;
    padding: 1rem;
  }

  &__description {
    float: right;
    width: 50%;
    padding: 1rem;
    font-size: .9em;

    border-left: 2px solid $lightgray;
  }

  &__image_box {
    float: left;
    width: 6rem;
    height: 6rem;
    text-align: center;
    margin-right: 2rem;
    margin-top: .5rem;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__name {
    font-size: 1.1em;
  }

  &__subname {
    font-size: .9em;
    margin-bottom: .5rem;
  }

  &__complete {
    margin-bottom: .5rem;
  }

  &__get {
    font-size: .8em;
    display: inline-block;
    float: right;
  }

  &__dates {
    display: inline-block;
  }
}

.progress_bar {
  &__line {
    display: inline-block;
    height: 5px;
    width: 200px;
    margin-right: .3rem;
    background-color: $lightestgray;
    vertical-align: middle;
  }

  &__xp {
    display: inline-block;
    vertical-align: middle;
  }

  &.pr_1 &__line {
    background-image: linear-gradient(to right, $red 0, $red 25%, $lightestgray 25%);
  }

  &.pr_2 &__line {
    background-image: linear-gradient(to right, $red 0, $red 50%, $lightestgray 50%);
  }

  &.pr_3 &__line {
    background-image: linear-gradient(to right, $red 0, $red 75%, $lightestgray 75%);
  }

  &.pr_4 &__line {
    background-image: linear-gradient(to right, $red 0, $red 100%, $lightestgray 100%);
  }
}