@import "../common/variables";

.header {
  @include clearfix;
  background-color: $darkestgray;
  color: $white;
  padding: .5rem 0 .3rem;
}

.logo {
  display: block;
  text-decoration: none;
  float: left;
  font-size: 2em;
  margin-right: 2.5rem;

  &__image {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 3px;
    margin-right: .3rem;
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
  }
}

.main_menu {
  float: left;

  &__item {
    font-size: 1.3em;
    display: inline-block;
    vertical-align: middle;
    padding-top: .7rem;
    padding-bottom: .7rem;

    a {
      display: block;
      text-decoration: none;
      padding-top: .3rem;
      padding-bottom: .3rem;
      border-bottom: 2px solid transparent;
      transition: all ease .4s;

      &:hover {
        color: $red;
      }
    }

    &.active a {
      border-color: $red;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.current_user {
  font-size: 1.3em;
  float: right;
  margin-top: .9rem;
  margin-bottom: .9rem;
  cursor: pointer;
  display: block;
  text-decoration: none;

  &__photo {
    display: inline-block;
    background-color: $gray;
    border-radius: 100%;
    border: 2px solid $red;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    margin-right: .3rem;
    overflow: hidden;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__name {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
  }
}

.first_slide {
  background-image: linear-gradient(to left, rgba($darkestgray, .5) 0, rgba($darkestgray, .5) 100%) ,url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: $white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;

  &__title {
    font-size: 3em;
    margin-bottom: 2rem;
    font-weight: 700;
  }

  &__text {
    font-weight: 600;
    display: table;
    margin: auto;
    font-size: 1.2em;
    max-width: 600px;
  }
}