@import "../common/variables";

.lessons {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__data {
    @include clearfix;
  }

  &__title {
    font-weight: 600;
    font-size: 1.2em;
  }

  &__info {
    float: left;
    width: 50%;
  }

  &__nav {
    float: right;
    width: 50%;
    text-align: right;
  }

  &__nav_item {
    display: inline-block;
    text-align: center;
    width: 3rem;
    height: 3rem;
    background-color: $lightestgray;
    margin-right: .5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    line-height: 2.6rem;
    vertical-align: middle;
    font-size: 1.2em;
    border: 3px solid transparent;
    transition: all .4s ease;
    text-decoration: none;

    &:hover {
      color: $red;
    }

    &.active {
      border-color: $red;
    }

    &.complete {
      background-color: $lightred;
      color: $white;
    }
  }

  &__list {
    padding: 1rem;
    border: 2px solid $gray;
  }

  &__item {
    display: none;

    &.active {
      display: block;
    }
  }
}

.lesson {
  @include clearfix;

  position: relative;
  padding-bottom: 3rem;

  &__block {
    @include clearfix;
    padding-top: 1rem;
    padding-bottom: 1rem;

    & + & {
      border-top: 2px solid $gray;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__subtitle {
    width: 55%;
    float: left;
    color: $red;
    font-weight: 600;
    font-size: 1.1em;
  }

  &__shape {
    float: right;
    width: 40%;
    height: 300px;
    position: relative;
  }

  &__text {
    float: left;
    width: 55%;
    margin-bottom: 1rem;
  }

  &__next {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__question {
    margin-bottom: 1rem;
  }

  &__video iframe {
    display: table;
    margin: auto;
  }

  &__answers {
    padding-left: 1rem;

    label {
      margin-right: 1rem;
      margin-bottom: 1rem;
      vertical-align: middle;
      cursor: pointer;
      display: block;
    }

    input {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: .5rem;
      border-radius: 100%;
      background-color: $white;
      border: 2px $red solid;
      appearance: none;
      vertical-align: middle;
      transition: all ease .4s;
      position: relative;
      top: -1px;

      &:checked {
        background-color: $red;
        border-color: $lightred;
      }
    }
  }

}