@import "../common/variables";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Exo 2', sans-serif;
  color: $text;
  background-image: url("../img/back.jpg");
  background-size: cover;
  background-attachment: fixed;

  font-size: 16px;
  line-height: 1.4;

  @include breakpoint($xsmall) {
    font-size: 17px;
  }

  @include breakpoint($medium) {
    font-size: 18px;
  }

}

a {
  color: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

iframe {
  background: none;
  border: none;
}

input,
button {
  outline: none;
}

::selection {
  background: $darkred;
  color: $white;
}

.wrapper {
  @include clearfix;

  max-width: 1200px;
  padding: 0 10px;
  margin: auto;
  height: 100%;
}


.section {
  background-color: $white;
}

.button {
  background: $white;
  border: 2px solid $red;
  font-size: 1em;
  padding: .3em 1em;
  color: $text;
  font-weight: bold;

  transition: all ease .4s;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $red;
  }
}

.select {
  border-radius: 0;
  border: 2px solid $gray;
  background-color: $white;
  padding: .3em 1em;
}

.input {
  border: 2px solid $gray;
  padding: .3em 1em;
  transition: all ease .4s;

  &:focus {
    border-color: $red;
  }
}

.title {
  display: table;
  text-align: center;
  position: relative;
  margin: 0 auto 1rem;
  padding-bottom: .5rem;
  font-size: 2em;
  font-weight: 700;

  b {
    color: $red;
  }

  @include breakpoint($medium) {
    font-size: 3em;

    &--underline {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: $red;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.textarea {
  height: 17.8888888rem;
  padding: 1rem;
  resize: none;
  background-color: $white;
  border: solid $gray 2px;
}

.modal {
  display: none;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  .feedback_form {
    position: absolute;
    z-index: 1005;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__parangua {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba($deep, .8);
  }
}

.close {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.3;
  cursor: pointer;
  transition: .4s ease all;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  top: 0;
  height: 1.5rem;
  width: 2px;
  background-color: $gray;
  transition: .4s ease all;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.model_view {
  width: 300px;
  height: 300px;
  position: relative;
}