/*
	1. Colors
*/

$lightred: rgba(240, 84, 85, 0.65);
$red: #fe0000;
$darkred: #8D2E2C;
$darkestred: #412C29;
$deep: #26343D;

$lightestgray: #F6F6F6;
$lightgray: #ACACAC;
$gray: #434343;
$darkgray: #747474;
$darkestgray: #262626;

$white: #ffffff;

$text: $darkestgray;

/*
	2. Breakpoints
*/

$xsmall: 750px;
$small: 960px;
$medium: 1120px;
$large: 1440px;
$xlarge: 1700px;